@model List<PizzaBox.Client.Models.PizzaSize>

@{
    ViewData["Title"] = "Pizza Sizes";
}

<h1>All Pizza Sizes</h1>

<p>
    <a asp-action="Add">Create New Pizza Size</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Pizza Size ID
            </th>
            <th>
                Name
            </th>
            <th>
                Inches
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PizzaSizeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PizzaSizeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PizzaSizeInches)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PizzaSizePrice)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PizzaSizeId }) |
                    @Html.ActionLink("Details", "GetById", new { id = item.PizzaSizeId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PizzaSizeId })
                </td>
            </tr>
        }
    </tbody>
</table>