@model List<PizzaBox.Client.Models.Store>

@{
    ViewData["Title"] = "Stores";
}
@*@section time{
        <h4>@DateTime.Now</h4>
    }*@
<h1>All Stores</h1>
@*<partial name="_TimePartial" />*@
<p>
    @*~/Admin/Add*@
    <a asp-action="Add">Create New Store</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Store ID@*@Html.DisplayNameFor(model => model[0].StoreId)*@
            </th>
            <th>
                Store Location@*@Html.DisplayNameFor(model => model[0].StoreLocation)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StoreId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StoreLocation)
                </td>
                <td>
                    @*Text, Route/Route*@
                    @Html.ActionLink("Edit", "Edit", new { id = item.StoreId }) |
                    @Html.ActionLink("Details", "GetById", new { id = item.StoreId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.StoreId })
                </td>
            </tr>
        }
    </tbody>
</table>
