@using PizzaBox.Client.Controllers
@using System.Linq
@model System.Collections.Generic.HashSet<Order>

@{
    ViewData["Title"] = $"{ConsumerController._order.Customer.CustomerFirstName} {ConsumerController._order.Customer.CustomerLastName}";
}

<h6>Hello @ConsumerController._order.Customer.CustomerFirstName @ConsumerController._order.Customer.CustomerLastName!</h6>

@if (Model == null)
{
    <p>You have no orders placed at this time. Would you like to place one <a asp-action="SelectStore">now</a>?</p>
}
else if (Model.Count == 0)
{
    <p>You have no orders placed at this time. Would you like to place one <a asp-action="SelectStore">now</a>?</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Order ID
                </th>
                <th>
                    Store Location 
                </th>
                <th>
                    Date
                </th>
                <th>
                    Bill
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => ConsumerController.Stores.Find(s=>s.StoreId == item.StoreId).StoreLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>

                <td>
                    @Html.ActionLink("Details", "DisplayOrder", new { id = item.OrderId }) |
                    @Html.ActionLink("Cancel Order", "Delete", new { id = item.OrderId })
                </td>
            </tr>
            }
        </tbody>
    </table>
    <a asp-action="SelectStore">Create New Order</a>
}
