@model List<PizzaBox.Client.Models.Customer>

@{
    ViewData["Title"] = "Customers";
}

<h1>All Customers</h1>

<p>
    If not a returning customer click<a asp-action="Add"> here</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Username
            </th>
            <th>
                Password
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Phone
            </th>
            <th>
                Address
            </th>
            <th>
                Card Number
            </th>
            <th>
                Card Date
            </th>
            <th>
                Card Cvv
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerLastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerCardNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerCardDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerCardCvv)
                </td>
                <td>
                    @Html.ActionLink("Details", "DisplayCustomer", new { id = item.CustomerId })
                </td>
            </tr>
        }
    </tbody>
</table>
